#Python List - how to use it in programs? & list operations such as slicing, searching, adding and removing elements.
Unlike strings, lists are mutable (or changeable) in Python. It implies that you can replace, add or remove elements.
The first is by placing all the items (elements) inside a square bracket [ ], separated by commas.
The list can take any number of elements, and each may belong to a different type (integer, float, string, etc.).

Python List Methods
List Methods	Description
append()	It adds a new element to the end of the list.
extend()	It extends a list by adding elements from another list.
insert()	It injects a new element at the desired index.
remove()	It deletes the desired element from the list.
pop()	It removes as well as returns an item from the given position.
clear()	It flushes out all elements of a list.
index()	It returns the index of an element that matches first.
count()	It returns the total no. of elements passed as an argument.
sort()	It orders the elements of a list in an ascending manner.
reverse()	It inverts the order of the elements in a list.
copy()	It performs a shallow copy of the list and returns.

Function	Description
all()	It returns True if the list has elements with a True value or is blank.
any()	If any of the members has a True value, then it also returns True.
enumerate()	It returns a tuple with an index and value of all the list elements.
len()	The return value is the size of the list.
list()	It converts all iterable objects and returns as a list.
max()	The member having the maximum value
min()	The member having the minimum value
sorted()	It returns the sorted copy of the list.
sum()	The return value is the aggregate of all elements of a list.

In [1]:
l1 = []

In [2]:
l2 = [12,14,16,18,20]
l2

[12, 14, 16, 18, 20]

In [4]:
#List of heterogenous data types
l3 = [1, "Hello", 3.4]
l3

[1, 'Hello', 3.4]

In [10]:
#List() Method To Create A List - It accepts either a sequence or tuple as the argument and converts into a Python list.
x=(12,5,12,7)
print(type(x))
print(id(x))

<type 'tuple'>
70798376

In [14]:
y=list(x)
print(id(x))
print(type(y))

70798376
<type 'list'>

In [15]:
#Using List Comprehension : Syntax l4 = [expression(iter) for iter in oldList if filter(iter)]
l4 = [i for i in range(10)]
l4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
listofCountries = ["India","America","England","Germany","Brazil","Vietnam"]
firstLetters = [ i[0] for i in listofCountries ]
print(firstLetters)

['I', 'A', 'E', 'G', 'B', 'V']

In [ ]:
#List comprehension even allows an if statement, to only add members to the list which are fulfilling a specific condition:

In [18]:
l5 = ([x+y for x in 'get' for y in 'set'])
l5

['gs', 'ge', 'gt', 'es', 'ee', 'et', 'ts', 'te', 'tt']

In [19]:
#Letâ€™s now see how the if clause works with the list comprehension
l6 = [x+y for x in 'get' for y in 'set' if x != 't' and y != 'e' ]
l6

['gs', 'gt', 'es', 'et']

In [20]:
#Another complicated example is to create a list containing the odd months with List Comprehension syntax
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
oddMonths = [iter for index, iter in enumerate(months) if (index%2 == 0)]
oddMonths

['jan', 'mar', 'may', 'jul', 'sep', 'nov']

In [ ]:
#Creating A Multi-Dimensional List - You can create a sequence with a pre-defined size, by specifying an initial value for each element.

In [21]:
l7 = [0]*3
l7

[0, 0, 0]

In [23]:
#two dimentional list
l8 = [[0]*3]*3
l8

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [24]:
l8[0][2] = 1
l8           #We changed the value of the third item in the first row, but the same column in other rows also got affected.

[[0, 0, 1], [0, 0, 1], [0, 0, 1]]

In [26]:
#So, you must use list comprehensions to get around the above issue.
l9 = [[0]*3 for i in range(3)]
l9

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [28]:
l9[0][2] = 1
l9

[[0, 0, 1], [0, 0, 0], [0, 0, 0]]

In [ ]:
#Extend 
    #A List Using The Extend() And Append() Methods
    #Python allows lists to re-size in many ways. You can do that just by adding two or more of them.

In [29]:
L1 = ['a', 'b']
L2 = [1, 2]
L3 = ['Learn', 'Python']
L1 + L2 + L3

['a', 'b', 1, 2, 'Learn', 'Python']

In [33]:
#Extend()
L1 = ['a', 'b']
L2 = [1, 2]
L1.extend(L2)
L1

['a', 'b', 1, 2]

In [35]:
#Append()
L1 = ['a', 'b']
L1.append('c')
L1

['a', 'b', 'c']

In [36]:
L1 = ['a', 'b']
L2 = [1, 2]
L1.append(L2)
L1

['a', 'b', [1, 2]]

In [40]:
#Access A List Using Index
vowels = ['a','e','i','o','u']
consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']

In [41]:
vowels[2]

'i'

In [42]:
#Testing exception if the index is of float type
try:
 vowels[1.0]
except Exception as ex:
 print("Note:", ex)

('Note:', TypeError('list indices must be integers, not float',))

In [43]:
try:
 vowels[1]
except Exception as ex:
 print("Note:", ex)

In [45]:
#Accessing elements from the nested list
alphabets = [vowels, consonants]
alphabets

[['a', 'e', 'i', 'o', 'u'],
 ['b',
  'c',
  'd',
  'f',
  'g',
  'h',
  'j',
  'k',
  'l',
  'm',
  'n',
  'p',
  'q',
  'r',
  's',
  't',
  'v',
  'w',
  'x',
  'y',
  'z']]

In [46]:
print(alphabets[0][2]) 
print(alphabets[1][2])

i
d

Python List Methods

In [80]:
listl1 = []

In [81]:
for i in range(10):
    listl1.append(i)
listl1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
listl1.append(10) #It adds a new element to the end of the list.
listl1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
listl1.extend([11])  #It extends a list by adding elements from another list.
listl1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [84]:
listl1.insert(0,-1)  #It injects a new element at the desired index.
listl1

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [85]:
listl1.remove(-1) #It deletes the desired element from the list.
listl1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [86]:
listl1.pop(11) #It removes as well as returns an item from the given position.
listl1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
listl1.pop() #It removes as well as returns an item from the given position.

10

In [97]:
listl1.pop(5) #It returns the index of an element that matches first.

5

In [98]:
listl1.count(6) #It returns the total no. of elements passed as an argument.

1

In [100]:
listl1.sort(reverse=True) #It orders the elements of a list in an ascending manner.
listl1

[9, 8, 7, 6, 4, 3, 2, 1, 0]

In [101]:
listl1.reverse() #It inverts the order of the elements in a list.
listl1

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [26]:
listl1=[1,2,3,4,5,6]
listl2 = listl1.copy() #It performs a shallow copy of the list and returns.
listl2

AttributeError: 'list' object has no attribute 'copy'

In [24]:
listl2 = listl1[:] #It performs a shallow copy of the list and returns.
listl2

NameError: name 'listl1' is not defined

In [107]:
listl2.append(10)
print(listl1)
print(listl2)

[0, 1, 2, 3, 4, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [112]:
listl2.clear() #It flushes out all elements of a list.

NameError: name 'listl2' is not defined

In [111]:
del listl2 #deletes list completly

NameError: name 'listl2' is not defined

Python List Built-In Functions

In [115]:
all(listl1) #It returns True if the list has elements with a True value or is blank.

False

In [116]:
any(listl1) #If any of the members has a True value, then it also returns True.

True

In [117]:
enumerate(listl1) #It returns a tuple with an index and value of all the list elements.

In [118]:
len(listl1) #The return value is the size of the list.

9

In [130]:
seq = 1,2,3,4,5
seq

(1, 2, 3, 4, 5)

In [132]:
list11=list(seq) #It converts all iterable objects and returns as a list.
list11

[1, 2, 3, 4, 5]

In [133]:
max(listl1) #The member having the maximum value

9

In [134]:
min(listl1) #The member having the minimum value

0

In [139]:
sorted(list11) #It returns the sorted copy of the list.
list11

[1, 2, 3, 4, 5]

In [140]:
sum(listl1) #The return value is the aggregate of all elements of a list

40

In [22]:
list1 = []
x=10
for i in range(x):
    if i%2==0:
        list1.append(i)
print(list1)

[0, 2, 4, 6, 8]

In [23]:
list1 = []
x=10
for i in range(x):
    if i%2!=0:
        list1.append(i)
print(list1)

[1, 3, 5, 7, 9]