In [6]:
a='guru'
b=str(99)
print(a+b)

guru99

In [7]:
string = "Cosmos"

In [8]:
string[1:]

'osmos'

In [10]:
string[:3]

'Cos'

In [11]:
string1="sin"
string2="tan"

In [19]:
print(string1,string[:3],string2)

('sin', 'Cos', 'tan')

In [20]:
print "Cos" in string

True

In [22]:
print "tan" not in string

True

In [48]:
a=r"c:\users\tsatish" #it will print same value including escape character "\"
b=R"c:\users\tsatish" #it will print same value including escape character "\"

In [49]:
print(a)
print(b)

c:\users\tsatish
c:\users\tsatish

In [54]:
name = 'satish'
number = 525
print'%s %d' % (name,number)

satish 525

In [59]:
a='satish'

In [60]:
a*2

'satishsatish'

In [61]:
#Python String replace() Methody
x='satish525'

In [63]:
y=x.replace('525','2008')
y

'satish2008'

In [65]:
print(x.upper())

SATISH525

In [66]:
print(x.capitalize())

Satish525

In [67]:
#join function
print(":".join("Python"))

P:y:t:h:o:n

In [68]:
#reversing string
string="12345"		
print(''.join(reversed(string)))

54321

In [69]:
#spliting string
word="guru99 career guru99"		
print(word.split(' '))

['guru99', 'career', 'guru99']

In [70]:
c='xxxx'

In [79]:
print(c.join('--'))

-xxxx-

In [83]:
#Python stirngs are immutable howerve you can replace the part of string but it will change the original string
a='I like Python'
print(a.replace(a,'Love'))
print(a)

Love
I like Python

In [84]:
a='I like Python'
print(a.replace('like','Love'))
print(a)

I Love Python
I like Python