Python Tuple

A Python tuple is a collection type data structure which is immutable by design and holds a sequence of heterogeneous elements. It functions almost like a Python list but with the following distinctions.
    1)Tuples store a fixed set of elements and don’t allow changes whereas the list has the provision to update its content.
    2)The list uses square brackets for opening and closing whereas, and a tuple has got parentheses for the enclosure.

In [ ]:
#You can create a tuple by placing a sequence of desired elements separated using commas inside a pair of round brackets ()
#you can create a tuple even without using the parentheses. Also, the elements of a tuple can be of any valid Python data types ranging from numbers, strings, lists, etc.

In [2]:
tuple1 = (12,3.2,5,'KNN') 
print(tuple1)
print(type(tuple1))

(12, 3.2, 5, 'KNN')
<type 'tuple'>

In [3]:
tuple2 = 12,3.2,5,'KNN',6 # Can create tuple without parantheses
print(tuple2)
print(type(tuple2))

(12, 3.2, 5, 'KNN', 6)
<type 'tuple'>

In [4]:
#Nested tuple
tuple3 = ((0,1,3),(2,4,6),(-1,-3,-5))
tuple3

((0, 1, 3), (2, 4, 6), (-1, -3, -5))

In [5]:
# creating a tuple from a list
tuple4 = tuple([33, 55 , 77])
tuple4

(33, 55, 77)

In [6]:
# creating a tuple from a set
tuple5 = tuple({33, 55 , 77})
tuple5

(33, 77, 55)

In [7]:
# creating a tuple from a dictionary
tuple6 = tuple({'a':33, 'b':55 , 'c':77})
tuple6

('a', 'c', 'b')

In [8]:
# A single element surrounded by parenthesis will create a string or integer instead of a tuple
tuple7 = ('single')
print(type(tuple7))
tuple8 = (3)
print(type(tuple8))

<type 'str'>
<type 'int'>

In [9]:
#have to give comma after element, it will create tuple however list, set & dictionary will not need comma
tuple9 = ('single',)
print(type(tuple9))
tuple10 = (3,)
print(type(tuple10))

<type 'tuple'>
<type 'tuple'>

#Accessing a Tuple - Via Indexing and Slicing

In [10]:
#Accessing a Tuple - Via Indexing
    #1)IndexError - when given Index no. is out of range
    #2)TypeError  - when given Index no. is in other than integer format (float etc)
tuple3[0][2]

3

In [25]:
#Accessing a Tuple - Via slicing operator
print(tuple3[0][0:3]) #from first tuple - 0 to 2nd element
print(tuple3[1][0:])
print(tuple3[2][:3])

(0, 1, 3)
(2, 4, 6)
(-1, -3, -5)

Modify/Update
    1)Since tuples are immutable, so it seems no way to modify them.
    2)Once you assign a set of elements to a tuple, Python won’t allow it to change. But, there is a catch, what if the items         you set are modifiable.t are modifiable.
    3)If there is such a case, then you can change the elements instead of directly modifying the tuple. see below example

In [30]:
tuple11 = (22, 33, 55, 66, [88, 99])

In [28]:
#Let's try to modify py_tuple : It'll return a TypeError
try:
    tuple11[1] = 11
except Exception as ex:
    print(ex)

'tuple' object does not support item assignment

In [31]:
#We can change the values of mutable : elements inside the py_tuple i.e. list
tuple11[4][0] = 77
tuple11

(22, 33, 55, 66, [77, 99])

In [32]:
# We can assign a tuple with new data
tuple11 = ('Mon','Tue','Wed','Thur','Fri','Sat','Sun')
for i in tuple11:
    print(i)

Mon
Tue
Wed
Thur
Fri
Sat
Sun

In [33]:
tuple11

('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')

In [34]:
first_tuple = ('p', 'y', 't')
second_tuple = ('p','h', 'o', 'n')
first_tuple+second_tuple

('p', 'y', 't', 'p', 'h', 'o', 'n')

In [35]:
first_tuple*3

('p', 'y', 't', 'p', 'y', 't', 'p', 'y', 't')

Remove/Delete
Immutability of a tuple would again prevent you from deleting it in a Python program. While you can’t delete a tuple directly, but here is something which can help.

In [36]:
py_tuple = ('p', 'y', 't', 'h', 'o', 'n')

In [37]:
# you can't delete a particular item from a tuple
try:
    del py_tuple[0]
except Exception as ex:
    print(ex)

'tuple' object doesn't support item deletion

In [40]:
# but you can delete a whole tuple
try:
    print(py_tuple)
except Exception as ex:
    print(ex)

name 'py_tuple' is not defined

Usage Of Python Tuples

1)Used For Grouping Data : The tuple provides a quick way of grouping and arranging data. 
   It can help you combine any number of elements into a single unit.
2)Tuple assignment: Python tuple supports a very intuitive feature know as “tuple assignment.” It lets us assign a tuple of variables on the left of a statement to initialize from the tuple on the right side. 
3)Using Tuples In Functions As Return Values : Usually, a Function only returns one value. However, we can introduce a tuple and set it as the Return Value for the Function.
4)Mixed Data Structures In The Form Of Tuples: Tuples are a type of container which can embed another tuple as an element. We call such an object as a nested tuple.

In [41]:
emp_records = ('john', 'hr', 2010, 'robert', 'account', 2015, 'bill', 'mis', 2018)

In [42]:
emp_records = ('john', 'hr', 2010, 'robert', 'account', 2015, 'bill', 'mis', 2018)
(emp_name, emp_dept, emp_join_date) = emp_records[0:3]
print(emp_name)
print(emp_dept)
print(emp_join_date)

john
hr
2010

In [44]:
def square(n1, n2):
    return (n1*n1, n2*n2)
print(square(2,3))
print(type(square(2, 3)))

(4, 9)
<type 'tuple'>

In [46]:
employes = [("HR", 2, [('david', 'manager', 100000), ('bruno', 'asst. manager', 50000)]), ("IT", 2, [('kirk', 'team lead', 150000), ('matt', 'engineer', 45000)]), ("Sales", 2, [('billy', 'sales lead', 250000), ('tom', 'executive', 95000)])]
employes

[('HR', 2, [('david', 'manager', 100000), ('bruno', 'asst. manager', 50000)]),
 ('IT', 2, [('kirk', 'team lead', 150000), ('matt', 'engineer', 45000)]),
 ('Sales', 2, [('billy', 'sales lead', 250000), ('tom', 'executive', 95000)])]